body {
	margin: 0;
	padding: 0;
	border: none;
}
.main {
	width: 760px;
	margin: 16vh auto 26vh auto;
	font-family: "SBL Biblit";
	font-size: 32px;
	text-align: right;
}
.main span:hover {
	color: #038;
	cursor: pointer;
}
.footer {
	position: fixed;
	top: 14vh;
	left: 0;
}
.footer div {
	padding: 2vh;
	font-size: 14px;
	font-family: "Carlito";
	color: #222;
	background-color: rgba(255, 255, 255, 0.5);
}
.properties tr:hover {
	background-color: #dfd;
	cursor: pointer;
}
.properties tr.selected {
	background-color: #fdd;
}
.properties tr.selected:hover {
	background-color: #dfb;
}

.searchBuilder {
	position: fixed;
	top: 0;
	left: 0;
}
.doSearch {
	display: inline-block;
	height: 10vh;
	min-width: 10vh;
	font-size: 14px;
	color: #fff;
	text-align: center;
	background: #8d8 url("/static/search.svg");
	background-size: contain;
	border-bottom-right-radius: 5px;
	transition: all 500ms ease;
}
.doSearch:hover {
	background: #5d5 url("/static/search.svg");
	background-size: contain;
}
.termList {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	float: left;
}
.termList li {
	display: inline-block;
	height: 10vh;
	min-width: 10vh;
	font-size: 14px;
	background-color: #88d;
	color: #fff;
	text-align: center;
	transition: all 500ms ease;
	font-size: 28px;
}
.termList li:hover {
	cursor: pointer;
	height: 13vh;
	background-color: #55d;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}
.termList li.hidden {
	min-width: 0;
	width: 0;
	transition: all 500ms ease;
}
.results {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.9);
	text-align: center;
	margin: 0;
	padding: 0;
	overflow-y: auto;
	position: fixed;
}


.results table {
	font-size: 18px;
	border-spacing: 20px 15px;
}
.results table td:nth-child(1) {
	text-align: left;
	font-size: 80%;
}
.results table td.hebrew {
	text-align: right;
	font-family: "Ezra SIL";
	font-size: 130%;
}
.results table td:nth-child(3) {
	text-align: left;
}
.highlight_clause {
	color: #a00;
}
