body {
	margin: 0;
	padding: 0;
	border: none;
}
.main {
	width: 760px;
	margin: 16vh auto 26vh auto;
	font-family: "SBL Biblit";
	font-size: 32px;
	text-align: right;
}
.main span:hover {
	color: #038;
	cursor: pointer;
}
.footer {
	position: fixed;
	top: 14vh;
	left: 0;
}
.footer div {
	padding: 2vh;
	font-size: 14px;
	font-family: "Carlito";
	color: #222;
	background-color: rgba(255, 255, 255, 0.5);
}
.properties tr:hover {
	background-color: #dfd;
	cursor: pointer;
}
.properties tr.selected {
	background-color: #fdd;
}
.properties tr.selected:hover {
	background-color: #dfb;
}

.searchBuilder {
	position: fixed;
	/* need to have this above the morph data */
	z-index: 1;
	top: 0;
	left: 0;
}
.doSearch:after {
	background: url("/static/ripple.svg");
	display: none;
	width: 1px;
	height: 1px;
	content: "";
}
.doSearch {
	display: inline-block;
	height: 10vh;
	min-width: 10vh;
	font-size: 14px;
	color: #fff;
	text-align: center;
	background: #8d8 url("/static/search.svg");
    background-size: contain;
    background-position: center;
	border-bottom-right-radius: 5px;
	transition: all 500ms ease;
	cursor: pointer;
}
.doSearch:hover {
	background: #5d5 url("/static/search.svg") no-repeat;
	background-size: contain;
	background-position: center;
}
.doSearch.busy:hover,
.doSearch.busy {
	background: #8d8 url("/static/ripple.svg") no-repeat;
	background-size: 82%;
	background-position: center;
}
.termList {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	float: left;
}
.termList li {
	display: inline-block;
	height: 10vh;
	min-width: 10vh;
	font-size: 14px;
	background-color: #88d;
	color: #fff;
	text-align: center;
	transition: all 500ms ease;
	font-size: 28px;
	transition: all 500ms ease;
}
.termList li:hover {
	cursor: pointer;
	height: 13vh;
	background-color: #55d;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}
.termList li.hidden {
	min-width: 0;
	width: 0;
}
.results {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background-color: rgba(255, 255, 255, 0.9);
	text-align: center;
	margin: 0;
	padding: 0;
	overflow-y: auto;
	position: fixed;
}


.results table {
	font-size: 18px;
	border-spacing: 20px 15px;
}
.results table td:nth-child(1) {
	text-align: left;
	font-size: 80%;
}
.results table td.hebrew {
	text-align: right;
	font-family: "Ezra SIL";
	font-size: 130%;
}
.results table td:nth-child(3) {
	text-align: left;
}
.highlight_clause {
	color: #a00;
}


.ref_selector {
	display: block;
	position: absolute;
	top: 3vh;
	right: 2vw;
	height: 6vh;
	font-size: 22px;
	font-family: Carlito;
}
.ref_selector div {
	display: block;
	float: left;
	background: #8d8;
	line-height: 40px;
	color: #fff;
	cursor: pointer;
	text-align: center;
	padding: 0 15px;
}
.ref_selector div:hover {
	transition: all 500ms ease;
	background: #5d5;
}
.ref_selector div:first-child,
.ref_selector div:last-child {
	padding: 0;
	width: 40px;
	height: 40px;
}
.ref_selector div:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.ref_selector div:first-child {
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}


.modal_container {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.7);
	text-align: center;
	margin: 0;
	padding: 5%;
}
.book_link {
	display: inline-block;
	margin: 10px;
	width: 16%;
	font-size: 22px;
	text-align: center;
	background: rgba(136,136,221,0.9);
	height: 40px;
	line-height: 40px;
	text-decoration: none;
	color: #fff;
	border-radius: 3px;
	border-bottom: 2px solid #5D5DA2;
}
.chapter_link {
	display: inline-block;
	margin: 10px;
	width: 50px;
	font-size: 32px;
	text-align: center;
	background: rgba(136,136,221,0.9);
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	color: #fff;
	border-radius: 3px;
	border-bottom: 2px solid #5D5DA2;
}
.chapter_link:hover,
.book_link:hover {
	background-color: #55d;
	border-bottom: 2px solid #2D2DC2;
}


.search_type_combo {
	float: right;
	position: relative;
	background: #8d8;
	color: #fff;
	cursor: pointer;
	text-align: center;
	height: 7vh;
	line-height: 4vh;
	margin: 1.5vh 1vw;
	font-size: 14px;
	font-family: Carlito;
}
.search_type_combo:hover {
	background: #7c7;
}
.search_type_combo .selected_search_type{
	padding: 1.5vh 1.7vw;
	border-radius: 3px;
}
.search_type_combo .options {
	display: block;
	width: 100%;
	position: absolute;
	top: 8vh;
	opacity: 0;
	pointer-events: none;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	background: #8f8;
	transition: opacity 400ms ease;
	transition: top 250ms ease;
}
.search_type_combo:hover .options {
	opacity: 1;
	top: 7vh;
	pointer-events: all;
}
.search_type_combo .options a {
	display: block;
	width: 100%;
	color: #fff;
	position: relative;
	padding: 3px 0;
	text-decoration: none;
}
.search_type_combo .options a:hover {
	background: #8d8;
}
