* {
	box-sizing: border-box;
}
body {
	background-color: #fcfcfc;
	font-family: "Carlito";
	overflow: hidden;
}
body:after {
	content: url('/images/ripple.svg') url('/images/search.svg') url('/images/gear.svg') url('/images/menu_arrow.svg');
	display: none;
}
.bible_text_container {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;
}
.bible_text {
	position: absolute;
	top: 0;
	left: calc(50% + (1100px/2 - 825px));
	width: 830px;
	padding: 15vh 3vw;
	background-color: #fffffa;
	font-size: 33px;
	font-family: "Ezra SIL", "SBL Hebrew", "SBL Biblit";
	line-height: 150%;
	color: #111;
	min-height: 100%;
	box-shadow: 0 0 10px #ddd;
	direction: rtl;
}
.bible_text.is_loading:after {
	position: fixed;
	top: 0;
	left: calc(50% + (1100px/2 - 830px));
	bottom: 0;
	width: 830px;
	background: rgba(255, 255, 255, 0.5) url("/images/ripple.svg") no-repeat;
	background-size: 50%;
	background-position: center;
	content: "";
}
.whole_word {
	display: inline-block;
}
.word_bit:hover {
	cursor: pointer;
	color: #d48849;
}
.word_bit.active {
	color: #d44949;
}
.word_trailer {
	white-space: pre;
}
.verse_number {
	color: #d44949;
	font-size: 35%;
	display: inline-block;
	vertical-align: top;
	padding: 2px;
	font-weight: bold;
}

.search_builder {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	height: 10vh;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	transition: opacity 300ms ease;
}
.search_builder div {
	flex: 0 1 auto;
	transition: all 300ms ease;
	height: 100%;
}
.search_builder .search_term {
	padding: 2px 5px;
	color: #fff;
	background-color: #88d;
	cursor: pointer;
}
.search_builder .search_term:hover {
	background-color: #77c;
	height: 12vh;
	border-bottom: 1vh solid #66b;
}
.search_builder .search_term:hover p {
	opacity: 1;
}
.search_builder .search_term heading {
	font-size: 28px;
	padding: 0 0.5em;
	text-align: center;
	display: block;
}
.search_builder .search_term p {
	margin: -5px 0;
	text-align: center;
	font-size: 14px;
	opacity: 0;
	transition: opacity 300ms ease;
}
.search_builder .search_term p span {
	margin: 0 5px;
}
.search_builder .do_search {
	width: 10vh;
	padding: 0;
	background: #8d8 url("/images/search.svg") no-repeat;
	background-size: 65%;
	background-position: center;
	border-bottom-right-radius: 5px;
	cursor: pointer;
}
.search_builder .do_search.in-progress,
.search_builder .do_search.in-progress:hover {
	background: #8d8 url("/images/ripple.svg") no-repeat;
	background-size: 65%;
	background-position: center;
}

.search_builder .do_search:hover {
	background-color: #7c7;
}

.search_builder .search_settings {
	width: 10vh;
	margin: 0 1vw;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.search_builder .search_settings .search_settings_button {
	position: relative;
	display: block;
	width: 6vh;
	height: 6vh;
	padding: 0;
	background: transparent url("/images/gear.svg") no-repeat;
	background-size: contain;
	background-position: center;
	transition: all 300ms ease;
}
.search_builder .search_settings_button:hover .search_settings_menu {
	opacity: 1;
	display: block;
	pointer-events: all;
	top: 7.5vh;
}
.search_settings_menu {
	pointer-events: none;
	opacity: 0;
	transition: all 300ms ease;
	position: absolute;
	top: 8vh;
	left: -50%;
	width: 10em;
	list-style-type: none;
	margin: 0;
	padding: 0;
	border-top: 3px solid #88d;
	border-bottom: 3px solid #88d;
	border-radius: 3px;
}
.search_settings_menu:before {
	position: absolute;
	top: calc(-1.5vh - 2px);
	height: 1.5vh;
	width: 100%;
	background: transparent url("/images/menu_arrow.svg") no-repeat;
	background-position: 4.5vh 1px;
	background-size: contain;
	content: "";
}
.search_settings_menu li {
	line-height: 2em;
	background-color: #ddd;
	padding: 0 1em;
	transition: padding 300ms ease;
}
.search_settings_menu li:hover {
	background-color: #ccc;
}
.search_settings_menu li.active {
	background-color: #dfd;
	padding-left: 1.5em;
}
.search_settings_menu li.active:hover {
	background-color: #cfc;
}
.search_settings_menu .heading {
	line-height: 1.3em;
	background-color: #aaf !important;
	color: #eef;
	font-weight: bold;
}


.search_builder .spacer {
	flex: 1 1 auto;
}

.search_builder .bible_reference {
	flex: 0 1 auto;
	justify-content: center;
	align-items: center;
	height: 6vh;
	margin-top: 2vh;
	display: flex;
}
.search_builder .bible_reference div {
	background: #8d8;
	color: #fff;
	text-align: center;
	line-height: 6vh;
	cursor: pointer;
	padding-top: 1px;
}
.search_builder .bible_reference div:hover {
	background: #7c7;
}
.search_builder .bible_reference .book_nav {
	padding-left: 1vw;
	padding-right: 1vw;
}
.search_builder .bible_reference .chapter_nav {
	width: 5vh;
	font-size: 200%;
}
.search_builder .bible_reference .chapter_nav:first-child {
	border-top-left-radius: 3vh;
	border-bottom-left-radius: 3vh;
}
.search_builder .bible_reference .chapter_nav:last-child {
	border-top-right-radius: 3vh;
	border-bottom-right-radius: 3vh;
}




.morph_displayer {
	position: fixed;
	left: calc(50% - (1100px/2));
	width: 270px;
	top: 15vh;
	color: #222;
	text-align: left;
	font-size: 16px;
}

.morph_displayer table {
	table-layout: fixed;
	width: 100%;
}
.morph_displayer tr.active {
	background-color: #8d8;
}
.morph_displayer tr:hover {
	background-color: #dfd;
	cursor: pointer;
}
.morph_displayer tr.active:hover {
	background-color: #ada;
}
.morph_displayer td {
	padding: 2px 8px;
}
.add_search_term {
	text-align: center;
	font-weight: bold;
	background-color: #383;
	color: #fff;
	cursor: pointer;
	margin-top: 2vh;
	border-radius: 3px;
	transition: background-color 300ms ease;
}
.add_search_term:hover {
	background-color: #5a5;
}



.modal {
	position: absolute;;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 1%;
	background-color: rgba(255, 255, 255, 0.9);
	text-align: center;
	overflow-y: auto;
	z-index: 100;
	opacity: 1;
	pointer-events: all;
	transition: opacity 400ms ease;
}
.modal.hidden {
	opacity: 0;
	pointer-events: none;
}



.results_tally {
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	margin: 0;
	padding: 0.3em 0;
}
.results_table {
	font-size: 18px;
	border-spacing: 20px 15px;
}
.results_table td.reference {
	text-align: left;
	font-size: 80%;
}
.results_table td.hebrew {
	text-align: right;
	font-family: "Ezra SIL";
	font-size: 130%;
	padding-bottom: 0.3em;
}
.results_table td.english {
	text-align: left;
}
.results_table td.english verse {
	color: #d44949;
	font-size: 50%;
	display: inline-block;
	vertical-align: top;
	font-weight: bold;
}
.results_table td.english poetry {
	display: block;
	font-style: italic;
}
.results_table td.english smallcaps {
	font-variant: small-caps;
}
.results_table .hot {
	color: #d44949;
}
.results_table .warm {
	color: #d48849;
}

.collocation_table {
	margin: 0 auto;
	table-layout: fixed;
}
.collocation_table td:last-child{
	font-size: large;
	font-weight: bold;
}


.abstract_selector {
	position: fixed;
	left: 10%;
	top: 8%;
	width:80%;
	height: 80%;
	display: table;
	border-collapse: separate;
	table-layout: fixed;
	border-spacing: 3px;
}
.abstract_selector .table_row {
	display: table-row;
}
.abstract_selector .table_cell {
	display: table-cell;
	padding:0;
	vertical-align: middle;
	background-color: rgba(220,220,220,0.4);
	cursor: pointer;
	border-radius: 3px;
	transition: background-color 300ms ease;
}
.abstract_selector .table_cell:hover {
	background-color: #88d;
	transition: background-color 50ms ease;
}
